body {
  color: #004b52; /* peacock blue hex code */
  background-image: linear-gradient(#ffe1a5, #7f5c12);
  /* light gold to dark gold */
  background-repeat: no-repeat;
  font-family: "Poiret One";
  font-size: 26px;
  font-weight: 400;
  text-align: center;
}

#container {
  margin: 0 auto;
  padding: 0;
  width: 768px;
  height: 1500px; /* put back at 1024 once all the of elements are aligned */
}

#sidebar {
  /* how do I align this the right way?? */
}

  h1 {
  font-size: 25em;
  font-weight: 100;
  line-height: 0;
  margin-top: 0.25em;
  margin-bottom: 0.5em;
} h2 {
  font-size: 2.25em;
} h3 {
  font-size: 1.75em;
} h4 {
  font-size: 1em;
  font-weight: 700;
  color: #ffe1a5;
} p {
  font-size: 1em;
  text-align: left;
} p2 {
  font-size: 0.75em;
  text-align: left;
} a {
  font-size: 1em;
  text-align: left;
  color: #004b52;
} strong {
  font-weight: 900;
} .scroll-bar {
  font-weight: 900
}
