* {
  margin:0;
  padding:0px;
}

#content {
  display: flex;
  flex-direction: column;
}

#header {
  height: 250px;
  width: 100vw;
  background-image: url("laurels.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
}

#nav-bar {
  height: 85px;
  background-color: #E8B3CA;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#nav {
  width: 100vw;
  margin-top: 20px;
  padding: 0 10vw 0 10vw;
  display: flex;
  justify-content: space-between;
}

#main {
  margin-top: 30px;
  padding: 0 10vw 0 10vw;
}

.gallery-card {
  background-color: #FFFFFF;
  border-radius: 30px;
}

#copyright {
  display: flex;
  justify-content: center;
  margin: 10px 0 20px 0;
}

h1 {
  font-family: 'Charmonman', cursive;
  color: #9A5057;
  font-size: 50px;
  font-weight: 100;
  padding-top: 15px;
  width: 100vw;
  background-color: rgba(255,255,255,0.8);
  display: flex;
  justify-content: center;
}

a, h2, h3, p, li {
  font-family: 'Montserrat';
}

h2, h3, p, li {
  color: #677413;
  line-height: 30px;
}

p, li {
  font-size: 15px;
}

li {
  margin-bottom: 5px;
}

ul {
  padding-left: 20px;
}

h2 {
  font-size: 20px;
  font-weight: 600;
}

h3 {
  font-size: 12px;
  font-weight: 200;
  display: flex;
  align-items: flex-end;
}

.topnav a {
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  color: #9A5057;
  text-decoration: none;
  border-radius: 10px;
  display: flex;
}


/* the issue only occurs when the menu is toggled out. */
/* line-height doesn't work because it moves up when toggled out*/
.topnav a:hover {
  color: #E8B3CA;
  background-color: #9A5057;
}



/* ********** MEDIA QUERIES ********************* */

/* Responsive Nav Mobile */
@media screen and (max-width:767px) {

  #nav {
    display:flex;
    justify-content: space-around;
  }

  #nav.responsive {
    margin-top: 20px;
    background-color: #E8B3CA;
    display: flex;
    flex-direction: column;
  }

  .topnav a.nav {display: none;}

  .topnav.responsive {
    position: relative;
    display: flex;
  }

  .topnav.responsive a {
    display:flex;
    align-items: center;
    width: fit-content;
    margin: 0 auto;

  }
}

/* Tablet Design */
@media screen and (min-width:768px) and (max-width:1024px) {
  #header {
    height: 400px;
  }

  #main {
    margin-top: 50px;
    padding: 0 15vw 0 15vw;
  }

  #nav {
    padding: 0 15vw 0 15vw;
  }

  /* Hide the link that should open and close the topnav on small screens */
  .topnav a.icon {
    display: none;
  }

}

/* Desktop Design */
@media screen and (min-width:1025px) {
  body {
    height: 100vh;
    /* background-image: url("laurels.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
  }

  #background-home {
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-image: url("laurels.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index:-1;
  }

  #background-gallery {
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-image: url("mountain-overlook.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index:-1;
  }

  #header {
    height: auto;
    width: auto;
    background-image: none;
  }

  #content {
    /* height: 100vh; */
    margin: 0 20vw 0 20vw;
    padding: 0 5vw 0 5vw;
    background-color: rgba(255,255,255,0.8);
  }

  #nav-bar {
    border-radius: 5px;
  }
  #nav {
    padding: 0 5vw 0 5vw;
  }

  /* Hide the link that should open and close the topnav on small screens */
  .topnav a.icon {
    display: none;
  }

  #main {
    padding: 0 1vw 0 1vw;
  }

  h1 {
    font-size: 75px;
    padding-top: 3vw;
    background-color: rgba(255,255,255,0.0);
  }
}
