* {
  box-sizing: border-box;
}

body {
  font-size: 20px;
  background-image: url(wildcat-sky.png);
  background-size: cover;
  margin: 0px;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: bottom;

}

h1 {
  font-family: 'Meddon';
  font-size: 5em;
  color: white;
  /* border: 1px solid red; */
  margin-top: 50px;
  margin-left: 10px
}

h2 {
  font-family: 'Montserrat';
  font-size: 1.75em;
  color: white;
  /* border: 1px solid red; */
  margin-top: -100px;
  margin-left: 25px;
}

p, a {
  font-family: 'Montserrat';
  color: white;
}

a:link, a:visited {
  color: white;
  text-decoration: none;
}

#content {
  display: flex;
}

#photos {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(20,24,35,0.85);
  /* mountain blue hex: #141823 */
  z-index: 3;
  padding: 10px;
  box-sizing: border-box;
  width: 40vh;
  height: 100vh;
}

.header {
  z-index: 2;
}

.links {
  display: flex;
  /* justify-content: space-around; */
}

.link {
  margin-left: 20px;
  padding: 30px;
  background-color: #141823;
  border-radius: 10px;
  text-decoration: none;
}

.link:hover {
  background-color: rgba(20,24,35,0.65);
  text-decoration: none;

}

#photos img {
  width: 75%;
}
