/* hex codes
  peacock blue: #004b52
  light gold: #ffe1a5
  dark gold: #7f5c12 */

body {
  color: #004b52;
  background-image: linear-gradient(#ffe1a5, #7f5c12);
  font-family: "Poiret One";
  font-size: 26px;
  font-weight: 400;
  text-align: center;
}

#container {
  /* margin: 0 auto; */
  padding: 0px 0px;
  width: 768px;
  height: 1024px; /* put back at 1024 once all the of elements are aligned */
}

#background {
  background-image: url("scallop-background.svg");
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-position: center;
  width: 100%;
  height: 100%;
}

#main {
  display: flex;
  flex-direction: column;
  width: 500px;
  position: relative;
  left: 300px;
  border: 1px solid red;
  /* justify-content: center; */
  /* I want to make the box the size and position it needs to be and then center the contents */
}

#title {
  position: absolute;
}

#letterform {
  display: flex;
  /* do that one flexbox tutorial and figure out what to use */
  border: 1px solid red;

}

  h1 {
  font-size: 25em;
  font-weight: 100;
  margin-top: -150px;
  margin-bottom: 0;
  padding: 0px 0px;
  line-height: 0.75;

/* the issue with the spacing on the e is that the actual character is taller than it looks. what should I do? */

} h2 {
  font-size: 2.25em;
} h3 {
  font-size: 1.75em;
} h4 {
  font-size: 1em;
  font-weight: 700;
  color: #ffe1a5;
} p {
  font-size: 1em;
  text-align: left;
} p2 {
  font-size: 0.75em;
  text-align: left;
}

  a {
  font-size: 1em;
  text-align: left;
  color: #004b52;
} strong {
  font-weight: 900;
} em {
  font-size: 1.1em;
}
