/* This is the stylesheet for Exercise 9 */
* {
    margin: 0;
    padding: 0;
}

body {
  font-size: 1.4vw;
  font-family: 'Montserrat';
  font-weight: 300;
  color: #1d2027;
}

header {
  font-family: 'Meddon';
  font-size: 2em;
  color: #1d2027;
  text-align:center;

  background-color: #b3bac2;
  padding: 0.5em;
}

footer {
  background-color:#252b33;
  color:#cbd0d4;
  text-align: center;
}

img {
  width: 100%;
}

footer img{
  width: 10%;
}

h1 {
  font-size: 2.5em;
}

h4 {
  font-weight: 300;
}

p {
  font-size: 1em;
}

p.credit {
  margin-top: 1em;
}

a {
  font-weight: 600;
  color: #616b81;
  text-decoration: none;
}

/* a.hover {
  color: #b3bac2;
} */

/********** Media Queries *************/

/* Tablet Styles */
@media screen and (min-width:775px) {


}


/* Desktop Styles */
@media screen and (min-width:1055px) {


  section {
    width: 80vw;
    margin: 0 auto;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .row img, .row p {
    width: 47%;
  }

  p, .row img {
    margin: 3em 0 0 0;
  }

  footer {
    padding: 1em;
    margin-top: 5em;
  }

}
