body {
  margin: 0;
}

#background {
  display: flex;
  flex-direction: column;
  z-index: 2;
  width: 100vw;
  height: 44vh;
  position: fixed;
}

#nav-bar {
  z-index: 3;
  display: flex;
  position: fixed;
  height: 12vh;
  width: 70vw;
  margin-top: 32vh;
  justify-content: space-between;
  align-items: center;
}

#content {
  display: flex;
  flex-direction: column;
  z-index: 2;
  align-items: center;
}

#main-home {
  display: flex;
  flex-direction: column;
  position: static;
  justify-content: space-between;
  margin: 50vh auto 6vh auto;
  width: 41vw;
  z-index: 1;
}

#main {
  display: flex;
  flex-direction: row;
  position: static;
  justify-content: space-between;
  margin: 50vh auto 6vh auto;
  width: 70vw;
  z-index: 1;
}

#left {
  width: 12vw;
  height: 100%;
  /* background-color: #CEC6BB; */
}

#right {
  width: 12vw;
  height: 100%;
  /* background-color: #CEC6BB; */
}

#photo-spiderwort {
  width: 41vw;
  height: 27.33vw;
  background-image: url("spiderwort.JPG");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: flex-end;
  justify-content: center;

}

#photo-spiderwort.zoom {
  background-image: url("spiderwort-zoom.jpg");
}

#photo-bluebells {
  width: 41vw;
  height: 27.33vw;
  background-image: url("virginia-bluebell.JPG");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: flex-end;
  justify-content: center;

}

#photo-bluebells.zoom {
  background-image: url("virginia-bluebell-zoom.jpg");
}

#photo-damesrocket {
  width: 41vw;
  height: 27.33vw;
  background-image: url("dames-rocket.JPG");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: flex-end;
  justify-content: center;

}

#photo-damesrocket.zoom {
  background-image: url("dames-rocket-zoom.jpg");
}

#photo-ladysslipper {
    width: 41vw;
    height: 27.33vw;
    background-image: url("ladys-slipper.JPG");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: flex-end;
    justify-content: center;

}

#photo-ladysslipper.zoom {
  background-image: url("ladys-slipper-zoom.jpg");
}

/* nav bar */

#hero-image-home {
  display: flex;
  position: static;
  height: 32vh;
  background-image: url("mountain-range.JPG");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: flex-end;
  justify-content: center;
}

#hero-image-spiderwort {
  display: flex;
  position: static;
  height: 32vh;
  background-image: url("spiderwort-hero.JPG");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: flex-end;
  justify-content: center;
}

#hero-image-bluebells {
  display: flex;
  position: static;
  height: 32vh;
  background-image: url("virginia-bluebell-hero.JPG");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: flex-end;
  justify-content: center;
}

#hero-image-damesrocket {
  display: flex;
  position: static;
  height: 32vh;
  background-image: url("dames-rocket-hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: flex-end;
  justify-content: center;
}

#hero-image-ladysslipper {
  display: flex;
  position: static;
  height: 32vh;
  background-image: url("ladys-slipper-hero.JPG");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: flex-end;
  justify-content: center;
}

#nav-background-home {
  height: 12vh;
  background-color: #272A13;
}

#nav-background-spiderwort {
  height: 12vh;
  background-color: #1D0E38;
}

#nav-background-bluebells {
  height: 12vh;
  background-color: #586DC6;
}

#nav-background-damesrocket {
  height: 12vh;
  background-color: #9C728C;
}

#nav-background-ladysslipper {
  height: 12vh;
  background-color: #B6525A;
}


/* text */

h1 {
  font-family: 'Prata';
  color: #CEC6BB;
  font-size: 3.4vw;
  margin-block-end: 1vh;
  text-align: center;
}

p.home, p.sources, p.header, p.scientific, p.subhead, p.body, p.credit {
  font-family: 'Montserrat';
}

p.home {
  font-size: 1.3vw;
  line-height: 2vw;
}

p.sources {
  font-size: 0.9vw;
  line-height: 1.5vw;
  text-align: center;
}

p.header {
  font-size: 2vw;
  margin-block-start: 0.5em;
  margin-block-end: 0;
}

p.scientific {
  font-style: italic;
  font-size: 1.3vw;
  margin-block-start: 0.5em;
  margin-block-end: 0;
}

p.subhead {
  font-size: 1.3vw;
  margin-block-start: 0.5em;
  margin-block-end: 0;
}

p.body {
  font-size: 1.1vw;
  margin-block-start: 0.5em;
}

p.credit {
  font-size: .7vw;
  margin-block-start: 1em;
}

a {
  text-decoration: none;
  color: black;
}

a.link {
  color: #598331;
}

a.link:hover {
  font-style: italic;
}

em {
  font-style: italic;
}

/* nav bar text */

a.navh, a.navs, a.navb, a.navd, a.navl {
  font-family: 'Prata';
  width: 10vw;
  padding: 1vw;
  color: #CEC6BB;
  border: 2px solid #CEC6BB;
  border-radius: 10px;
  text-align: center;
}

a.navh:hover {
  color: #272A13;
  background-color: #CEC6BB;
}

a.navs:hover {
  color: #1D0E38;
  background-color: #CEC6BB;
}

a.navb:hover {
  color: #586DC6;
  background-color: #CEC6BB;
}

a.navd:hover {
  color: #9C728C;
  background-color: #CEC6BB;
}

a.navl:hover {
  color: #B6525A;
  background-color: #CEC6BB;
}

/* buttons */

#buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  width: 5.5vw;
  height: 54px;

  border: 2px solid #598331;
  border-radius: 30px;
  background-color: white;

  font-family: 'Montserrat';
  font-size: 1.1vw;
  color: #598331;
}

button:hover {
  border: 2px solid #598331;
  background-color: #598331;

  font-family: 'Montserrat';
  font-size: 1.1vw;
  color: white;
}
